.tkmk {
  margin-top: 5px;
  width: 150px;
  margin-right: 10px;
}

.button-login {
  margin-top: 5px;
  width: 90px;
}
.navbar-color {
  height: 80px;
  background-color: black;
}
input.form-control.input-search {
  margin-top: 15px;
  width: 400px;
}

.h1-color {
  color: pink;
  margin: 10px;
  float: right;
  display: flex;
}

.h1-color:hover {
  background-color: #d8d8d8;
  color: black;
  border-radius: 5px;
}

li.fa.icon-nav {
  margin: 10px;
  font-size: 1.5em;
  background: none;
}
button.h1-color {
  background: none;
  border: black;
}
.form-home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-1 {
  display: flex;
}
/* .home-1 div {
  padding: 10px;
} */

.home-left {
  flex: 4;
  padding-top: 10px;
}
.home-mid {
  flex: 5;
  padding-top: 10px;
}
.home-right {
  flex: 3;
  padding-top: 10px;
}

/* for-navHome */
.home-11 {
  display: flex;
}

.home-left-1 {
  flex: 4;
  padding-top: 10px;
}
.home-mid-1 {
  flex: 5;
  padding-top: 10px;
}
.home-right-1 {
  flex: 3;
  padding-top: 10px;
}
/* for-navHome */

.icon-navhome {
  display: flex;
}
/* css of mid with new blog */
.postSTT {
  background-color: #fff;
  border-radius: 1em;
  width: 500px;

  height: 140px;
  margin-bottom: 15px;
  padding: 15px;
}

img {
  border-radius: 60%;
  float: left;
  cursor: pointer;
}
.new-stt {
  background-color: #f2f3f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  margin-left: 50px;
  border-radius: 20px;
  width: 420px;
  margin-top: 15px;
  border: none;
  cursor: pointer;
  padding: 11px;
}
.new-stt:hover {
  background-color: #d8d8d8;
}
.box-img-icon {
  display: flex;
  border-top: solid 1px;
  margin-top: 25px;
}
.add-img {
  flex: 6;
  margin-top: 7px;
  text-align: center;
}
.add-icon {
  flex: 6;
  margin-top: 7px;
  text-align: center;
}
.btn-img {
  background: none;
  border: none;
  padding: 5px;
}
.btn-img:hover {
  background-color: #d8d8d8;
  border: none;
  border-radius: 5px;
}

.btn-icon {
  background: none;
  border: none;
  padding: 5px;
}

.btn-icon:hover {
  background: #d8d8d8;
  border: none;
  border-radius: 5px;
}
/* css of mid with new blog */

/* css of blog box */
.blog-box {
  background-color: #fff;
  border-radius: 1em;
  width: 500px;
  padding: 15px;
}
.edit-blog {
  position: absolute;
}
.avt-handlename {
  display: flex;
}
.handle-name-blog {
  width: 200px;
}
.time-blog {
  width: 200px;
}
.handlename-time-box {
  margin-left: 20px;
}

.like-cmt-box-count {
  display: flex;
  align-items: flex-end;
  border-bottom: black solid 1px;
}
.Like-box-count {
  flex: 6;
}
.cmt-box-count {
  flex: 6;
  text-align: end;
}

.like-cmt-button {
  display: flex;
  margin-top: 7px;
}
.like-box {
  flex: 6;
  text-align: center;
}
.cmt-box {
  flex: 6;
  text-align: center;
}
.like-box button {
  width: 100px;
  border: none;
  background: none;
}
.like-box button:hover {
  background: #d8d8d8;
  border-radius: 5px;
}
.cmt-box button {
  width: 100px;
  border: none;
  background: none;
}
.cmt-box button:hover {
  background: #d8d8d8;
  border-radius: 5px;
}
/* css of blog box */
